body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.model:target{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100vh;
  display: block !important;
  z-index: 100;
}
.model:target .modal-dialog{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.feature-item{
  height: 360px !important;
}
.model{
  display: none;
}
.details .slick-dots > li{
  width: calc(100%/9) !important;
  bottom: 27.5px !important;
  transition: all 0.3s ease-in-out;
}
.details .slick-dots > .slick-active{
  transform: scale(1.2) translateY(-10px);
  z-index: 100;
}
.details .slick-arrow{
  display: block !important;
}
.details .slick-prev::before{
  content: "←" !important;
}
.details .slick-next::before{
  content: "→" !important;
}

.details .slick-prev::before , .details .slick-next::before{
  line-height: 2 !important;
}